.navabr-custom{
    position: fixed;
}
.navbarLogo{
    width: 160px;
}
.logoSize{
    font-size: 30px;
}
.logoColor{
    color: #9d7245;
    font-size: 25px;
}
.SearchIcon{
    color: #9d7245;
}
.loginBtn a{
    text-decoration: none;
    color: white;
}

.custom-btn{
    padding: 6px 30px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav-link{
    font-size: 18px;
    font-weight: 500;
}